@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    background: radial-gradient(circle at top, #022c22, #000);
    color: #fff;
    font-family:
        Inter,
        system-ui,
        sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #16a34a;
}