@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;

    font-family:
        Inter,
        system-ui,
        sans-serif;

    background:
        radial-gradient(
            circle at top,
            #022c22,
            #000000
        );

    color: white;

    transition:
        background 0.3s ease,
        color 0.3s ease;
}

/* TEMA CLARO */
.light body {
    background:
        linear-gradient(
            135deg,
            #dbe4ee 0%,
            #c7d2da 100%
        );

    color: #0f172a;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #22c55e;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #16a34a;
}